---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { HeadHrefLangs } from "astro-i18next/components";
import Icons from "./Icons.astro";
import OG from "./OG.astro";
import TwitterCard from "./TwitterCard.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<meta name="google-site-verification" content="5GRhhm_YYdtAFIMnUytnZRT8Dwghpw9EKt428qz0IhY" />

<meta charset="utf-8" />
<link rel="sitemap" href="/sitemap-index.xml" />

<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<title>Inesworld</title>

<meta name="keywords" content={t("index.keywords")} />

<meta name="author" content="Inés Cuevas Jiménez, inesworld, ines world" />
<meta name="robots" content="index, follow" />

<OG />
<TwitterCard />
<Icons />

<HeadHrefLangs />
