---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { HeadHrefLangs } from "astro-i18next/components";
import Icons from "./Icons.astro";
import OG from "./OG.astro";
import TwitterCard from "./TwitterCard.astro";

interface Props {
	description: string;
}

if (!Astro.props.description) {
	throw new Error("The description prop is required");
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<meta name="google-site-verification" content="5GRhhm_YYdtAFIMnUytnZRT8Dwghpw9EKt428qz0IhY" />

<meta charset="utf-8" />
<link rel="sitemap" href="/sitemap-index.xml" />

<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<title>Inesworld</title>

<meta name="description" content={Astro.props.description} />

<meta name="keywords" content={t("keywords")} />

<meta name="author" content="Inés Cuevas Jiménez, inesworld, ines world, inesworld.mov" />
<meta name="copyright" content="Inés Cuevas Jiménez, inesworld, ines world, inesworld.mov" />
<meta name="robots" content="index, follow" />

<link rel="alternate" type="application/rss+xml" title="Inesworld" href={`${Astro.site}rss.xml`} />

<OG />
<TwitterCard />
<Icons />

<HeadHrefLangs />

<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Person",
		"name": "Inés Cuevas Jiménez",
		"url": "https://inesworld.vercel.app/",
		"image": "https://inesworld.vercel.app/ines.webp",
		"sameAs": [
			"https://www.instagram.com/inesworld.mov",
			"https://x.com/agnesworldd",
			"https://gurushots.com/inesworldmov/photos",
			"https://www.youtube.com/@InesWorldMov"
		],
		"jobTitle": "Digital Nomad and Photographer",
		"description": "Discover the portfolio of Inés Cuevas Jiménez, also known as inesworld or inesworld.mov. Connecting through photography and filmmaking, I travel to tell unique stories. Explore my showreel and uncover my skills in scriptwriting, filming, and editing. See how I transform images with my editing process and explore my latest photographic works.",
		"knowsAbout": ["Photography", "Traveling", "Photo Editing", "Digital Nomad Lifestyle"],
		"address": {
			"@type": "PostalAddress",
			"addressCountry": "Spain"
		}
	}
</script>
