---
const { text } = Astro.props;
---

<div
  class="radial-progress text-green-400"
  style="--value: 0; --size: 13rem; --thickness: 0.75rem;"
  role="progressbar"
>
  <p class="text-green-300 uppercase text-lg font-bold text-center">{text}</p>
</div>
