---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import RadialProgressContainer from "./Skill.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="skills" class="flex h-full w-full flex-col p-8">
	<h1 class="title fade-up">My skills</h1>
	<div class="flex w-full flex-col items-center gap-8 md:flex-row md:items-start md:justify-center">
		<RadialProgressContainer text={t("skills.skill_1.title")} subText={t("skills.skill_1.reason")} />
		<RadialProgressContainer text={t("skills.skill_2.title")} subText={t("skills.skill_2.reason")} />
		<RadialProgressContainer text={t("skills.skill_3.title")} subText={t("skills.skill_3.reason")} />
	</div>
</section>

<script>
	import { createIntersectionObserver, observeAll } from "@/helpers/IntersectionObserver.js";

	const runAnimation = () => {
		const fadeUpObserver = createIntersectionObserver();
		observeAll(fadeUpObserver, ".fade-up");
	};

	const loadScript = () => {
		runAnimation();

		const minimumAnimationTime = 5; //ms
		const maxValue = 100;

		// search first div with class radial-progress that doesnt have the data-animated attribute
		const AllRadialProgress = document.querySelectorAll(".radial-progress") as NodeListOf<HTMLDivElement>;

		if (!maxValue) throw new Error("maxValue is required");
		if (!AllRadialProgress) throw new Error("No radial-progress element found");

		// loop through all radial-progress elements
		for (let i = 0; i < AllRadialProgress.length; i++) {
			// now we are going to animate the radial progress every 100ms
			const radialProgress = AllRadialProgress[i];
			const interval = setInterval(
				() => {
					const radialProgressValue = radialProgress.style.getPropertyValue("--value");
					const value = Number(radialProgressValue);

					if (value >= maxValue) {
						clearInterval(interval);
						return;
					}

					radialProgress.style.setProperty("--value", `${value + 1}`);
				},
				minimumAnimationTime + i * 1
			);
		}
	};

	document.addEventListener("astro:page-load", loadScript);
</script>
