---
import BasicLayout from "@/layouts/BasicLayout.astro";

const country = "Oslo, Norway";

let images = await Astro.glob("/public/trips/oslo-norway/*");
images = images.map((images) => images.default);

let imagesGrouped: Record<string, any>[] = [];
let group1: Record<string, any>[] = [];
let group2: Record<string, any>[] = [];
let group3: Record<string, any>[] = [];
let groupSize = 3;
for (let i = 0; i < images.length; i++) {
  if (i % groupSize === 0) {
    group1.push(images[i]);
  } else if (i % groupSize === 1) {
    group2.push(images[i]);
  } else {
    group3.push(images[i]);
  }
}
imagesGrouped.push(group1, group2, group3);
---

<BasicLayout title={country}>
  <div class="container">
    <h1>{country}</h1>
    <div>
      {
        imagesGrouped.map((group) => (
          <div class="flex">
            {group.map((image) => (
              <img class="fade-up" src={image.src} alt={country} />
            ))}
          </div>
        ))
      }
    </div>
  </div>
</BasicLayout>

<script>
  import {
    createIntersectionObserver,
    observeAll,
  } from "@/helpers/IntersectionObserver.js";

  const fadeUpObserver = createIntersectionObserver();
  observeAll(fadeUpObserver, ".fade-up");
</script>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;

    > h1 {
      text-align: center;
      font-size: 4rem;
      margin: 0 0 20px 0;
    }

    div {
      display: flex;
      gap: 1rem;
      justify-content: center;
      flex-grow: 1;

      .flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        max-width: 500px;
      }

      img {
        border-radius: 0.5rem;
        width: 100%;
      }
    }
  }

  @media (max-width: 576px) {
    .container {
      > h1 {
        font-size: 3rem;
      }

      div {
        flex-wrap: wrap;
        width: 100%;

        .flex {
          width: 100%;
        }
      }
    }
  }
</style>
