---
import BasicLayout from "../layouts/BasicLayout.astro";

---



<BasicLayout>
  <article>
    <h1 class="title">Inés Cuevas Jiménez</h1>
    <img src="/ines.jpeg" alt="Inés Cuevas Jiménez" />

    <p>Hi! I'm Ines</p>
  </article>
</BasicLayout>

<style>

  article {
    padding: 2rem;
  }

  .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
  }
</style>