---
import WhyMe from "@/components/WhyMe.astro";
import BasicLayout from "@/layouts/BasicLayout.astro";
---

<BasicLayout>
  <section id="who-am-i">
    <div class="who-am-i">
      <h1 class="title fade-up">WHO I AM</h1>
      <p class="fade-up fade-delay-01">
        I believe that visual storytelling can contribute to impactful change
        towards a more inclusive, sustainable and connected world.
      </p>
      <p class="fade-up fade-delay-02">
        I started my career as a creator by building a self-owned side business
        alongside my studies of media in Germany. Followed by traveling South
        America for a full year in 2022, I focused on creating visually unique
        and authentic content for various brands. Shooting and living abroad
        fundamentally shaped my character and purpose as a storyteller towards
        encouraging more people to travel with intent and make a positive
        difference with their actions.
      </p>
    </div>
    <img class="fade-up" src="/ines.jpeg" alt="Inés Cuevas Jiménez" />
    
  </section>

  <section id="contact" class="light-theme">
    <div>
      <p class="fade-up">Here's the reality</p>
      <h1 class="fade-up fade-delay-01">
        Exceptional brands tell exceptional stories
      </h1>
      <p class="fade-up fade-delay-02">
        …because a story does way more than just that.
      </p>
      <p class="fade-up fade-delay-03">It creates community.</p>
      <p class="fade-up fade-delay-04">
        Showing the world we share with impactful visuals that align with your
        mission, makes your audience feel more connected and emotionally
        engaged. I believe that this is a underestimated but most valuable
        factor to achieve better and lasting business success.
      </p>
      <a class="fade-up fade-delay-05" href="contact">let's get in touch!</a>
    </div>
  </section>

  <section id="what-i-do">
    <h1 class="title fade-up">What I do</h1>

    <div class="card-containers">
      <div
        class="fade-up fade-delay-01 card w-96 bg-neutral text-neutral-content shadow-xl"
      >
        <div class="card-body">
          <h2 class="card-title">title</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
            deserunt quo animi quas et voluptatibus veniam adipisci, rerum
            excepturi facere.
          </p>
        </div>
      </div>

      <div
        class="fade-up fade-delay-02 card w-96 bg-neutral text-neutral-content shadow-xl"
      >
        <div class="card-body">
          <h2 class="card-title">title</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
            deserunt quo animi quas et voluptatibus veniam adipisci, rerum
            excepturi facere.
          </p>
        </div>
      </div>

      <div
        class="fade-up fade-delay-03 card w-96 bg-neutral text-neutral-content shadow-xl"
      >
        <div class="card-body">
          <h2 class="card-title">title</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
            deserunt quo animi quas et voluptatibus veniam adipisci, rerum
            excepturi facere.
          </p>
        </div>
      </div>
    </div>
  </section>



  <script>
    import {
      createIntersectionObserver,
      observeAll,
    } from "@/helpers/IntersectionObserver.js";

    const runAnimations = () => {
      const fadeUpObserver = createIntersectionObserver();
      observeAll(fadeUpObserver, ".fade-up");
      observeAll(fadeUpObserver, ".fade-down");
      observeAll(fadeUpObserver, ".fade-down-right-corner");
      observeAll(fadeUpObserver, ".fade-down-left-corner");
      observeAll(fadeUpObserver, ".fade-up-right-corner");
      observeAll(fadeUpObserver, ".fade-up-left-corner");
    };

    document.addEventListener("astro:page-load", runAnimations);
  </script>

  <style>
    #who-am-i {
      height: 100vh;
      padding: 2rem;
      display: flex;
      align-items: center;
      gap: 2rem;

      h1 {
        font-size: 4rem;
        margin-top: 0;
      }

      .who-am-i {
        flex: 3;
        text-align: center;
      }

      img {
        border-radius: 36% 64% 70% 30% / 30% 30% 70% 70%;
        min-width: 300px;
        flex: 2;
        margin-bottom: 2rem;
      }

      .key-values-container {
        flex: 0.7;
        display: flex;
        flex-direction: column;
        padding: 2rem;
      }
    }

    #contact {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
      }

      h1 {
        text-align: center;
      }

      p {
        margin: 0.2rem 0;
        text-align: center;
      }

      a {
        background-color: var(--primary-color);
        color: var(--quinary-color);
        padding: 1rem 2rem;
        border: none;
        border-radius: 5rem;
        font-size: 1.2rem;
        cursor: pointer;
        margin-top: 2rem;
        text-transform: uppercase;
      }
    }

    #what-i-do {
      padding: 2rem;

      .card-containers {
        display: flex;
        justify-content: center;
        gap: 15px;
      }
    }

    #process {
      /* padding: 2rem; */
      display: flex;
      justify-content: center;

      .process-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
      }

      .title {
        margin: 0;
        text-align: left;
      }

      h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        margin: 1rem 0;
      }

      .process-card-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
      }
    }

    @media (max-width: 992px) {
      #who-am-i {
        flex-direction: column;
        width: 100%;
        height: auto;

        img {
          min-width: auto;
          width: 75%;
        }

        .who-am-i {
          flex: 2;
          text-align: center;
        }

        .key-values-container {
          padding: 0rem;
        }
      }
    }

    @media (max-width: 768px) {
      .card-containers {
        flex-direction: column;
        align-items: center;
      }
    }

    @media (max-width: 576px) {
      .card {
        width: 100%;
      }

      .title {
        font-size: 3rem;
      }
    }
  </style>
</BasicLayout>
