---
import BasicLayout from "@/layouts/BasicLayout.astro";
---

<BasicLayout>
  <article>
    <h1 class="title">Inés Cuevas Jiménez</h1>
    <img src="/ines.jpeg" alt="Inés Cuevas Jiménez" />
    <p>Hi! I'm Ines</p>
    <p>Voluptate amet aliquip pariatur deserunt incididunt enim laborum dolor excepteur eiusmod enim. Irure consequat pariatur cillum exercitation proident ea nostrud do qui reprehenderit culpa ipsum anim eiusmod. Consectetur voluptate commodo mollit commodo non dolor sint esse aute magna enim laboris enim esse.</p>
  </article>
</BasicLayout>

<style>

  article {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  img {
    max-width: 350px;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
</style>