---
import BasicLayout from '../layouts/BasicLayout.astro';
import { getValidPosts } from '../helpers/posts';

const allPosts: any = await Astro.glob('../pages/posts/*.{md,mdx}');
console.log({allPosts});
const posts = getValidPosts(allPosts);

/* 
  https://github.com/withastro/astro/blob/latest/examples/blog/src/components/FormattedDate.astro
*/
---

<BasicLayout>
  <ul>
    {posts.map((post) => <li><a href={post.url}>{post.frontmatter.pubDate.slice(0,10)} - {post.frontmatter.title}</a></li>)}
  </ul>
</BasicLayout>