---
import BasicLayout from "../layouts/BasicLayout.astro";
import { getValidPosts } from "@/helpers/posts";
import { getCollection } from "astro:content";

/* 
  https://github.com/withastro/astro/blob/latest/examples/blog/src/components/FormattedDate.astro
*/

const allPosts = await getCollection("blogs")
const posts = getValidPosts(allPosts);
---

<BasicLayout>
  <ul>
    {
      posts.map((post) => {
        const date = new Date(post.data.pubDate);
        const formattedDate = `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, "0")}-${String(date.getDate()).padStart(2, "0")}`;
        return (
          <li>
            <a href={`posts/${post.slug}`}>
              {formattedDate} - {post.data.title}
            </a>
          </li>
        );
      })
    }
  </ul>
</BasicLayout>
