---
import BasicLayout from "@/layouts/BasicLayout.astro";
// import Map from "@/components/MapWithAllTrips.astro";
---

<BasicLayout>
	<link
		slot="custom-header-scripts"
		rel="stylesheet"
		href="/lite-youtube/lite-yt-embed.css"
	/>
	<script
		slot="custom-header-scripts"
		is:inline
		src="/lite-youtube/lite-yt-embed.js"></script>

	<main>
		<section>
			<h2 class="sub-title">Portfolio</h2>
			<lite-youtube videoid="kcPcTyCoMEY" playlabel="Introduction to myself"
			></lite-youtube>
			<!-- <Map/> -->
			<a href="">Discover my work!</a>
		</section>
	</main>
</BasicLayout>

<style>
	.title {
		text-align: center;
		font-size: 4rem;
		text-transform: capitalize;
		margin-top: 0;
	}

	.sub-title {
		font-size: 2rem;
		text-transform: capitalize;
		margin: 0 0 1rem 0;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	section {
		width: 1100px;
		max-width: 100%;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		/* this component has its own styles in other file */
		lite-youtube {
			width: 100%;
			border-radius: 10px;
		}

		a {
			background-color: var(--primary-color);
			color: var(--quinary-color);
			width: fit-content;
			padding: 0.8rem 1rem;
			border: 1px solid var(--quinary-color);
			border-radius: 5rem;
			font-size: 1.1rem;
			cursor: pointer;
			margin-top: 2rem;
			text-transform: uppercase;
			align-self: center;
			text-decoration: none;
		}
	}

	@media (max-width: 576px) {
		lite-youtube {
			width: 100%;
		}
	}
</style>
