---
import BasicLayout from '@/layouts/BasicLayout.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
---

<BasicLayout>
	<h1>english language</h1>
	<a href={getRelativeLocaleUrl('es', '')}>spanish</a>
	<lite-youtube videoid="ogfYd705cRs" playlabel="Play: Keynote (Google I/O '18)"></lite-youtube>
</BasicLayout>

