---
import BasicLayout from "@/layouts/BasicLayout.astro";
import TitleRewritter from "@/components/home/TitleRewritter.astro";
import WhyMe from "@/components/home/WhyMe.astro";
import Dashboard from "@/components/home/dashboard/SkillsContainer.astro";
import DiffContainer from "@/components/home/edition/DiffContainer.astro";
import Process from "@/components/home/process/Process.astro";
import LatestWorks from "@/components/home/LatestWorks.astro";
---

<BasicLayout>
	<link
		slot="custom-header-scripts"
		rel="stylesheet"
		href="/lite-youtube/lite-yt-embed.css"
	/>
	<script
		slot="custom-header-scripts"
		is:inline
		src="/lite-youtube/lite-yt-embed.js"></script>

	<main>
		<section
			id="who-am-i"
			class="max-w-full p-8 flex flex-col items-center gap-16 md:flex-row md:gap-8 md:justify-around"
		>
			<div
				class="who-am-i sm:w-[50%] sm:flex sm:justify-center sm:items-center"
			>
				<TitleRewritter
					texts={[
						"Hey, It's Ines",
						"Creativity",
						"Connecting",
						"Photography",
						"Travelling",
						"Story telling",
					]}
				/>
			</div>
			<img
				class="min-w-[300px] w-full max-w-[800px] flex-[2] animate-[fluid_45s_infinite_linear] mb-8 rounded-[36%_64%_70%_30%_/_30%_30%_70%_70%];"
				src="/hero_image.webp"
				alt="Inés Cuevas Jiménez"
			/>
		</section>

		<section
			class="max-w-full p-8 flex flex-col grow justify-center items-center"
		>
			<div
				class="showreel-container flex flex-col items-center w-full lg:w-[1000px] max-w-full overflow-hidden"
			>
				<h2 class="title">My Showreel</h2>
				<lite-youtube videoid="U_4y5UKOOTI" playlabel="Introduction to myself"
				></lite-youtube>
				<a
					class="btn bg-base-100 w-fit border border-white text-[1.1rem] cursor-pointer uppercase self-center no-underline mt-8 px-4 py-[0.8rem] rounded-[5rem] border-solid;"
					href="/my-work">Discover my work!</a
				>
			</div>
		</section>

		<WhyMe />
		<Dashboard />
		<DiffContainer />
		<Process />
		<LatestWorks />
	</main>
</BasicLayout>

<style>
	@keyframes fluid {
		0% {
			border-radius: 79% 21% 39% 61% / 22% 80% 20% 78%;
		}
		16% {
			border-radius: 96% 4% 80% 20% / 58% 33% 67% 42%;
		}
		32% {
			border-radius: 56% 44% 69% 31% / 16% 80% 20% 84%;
		}
		50% {
			border-radius: 79% 21% 39% 61% / 22% 80% 20% 78%;
		}
		66% {
			border-radius: 56% 44% 69% 31% / 16% 80% 20% 84%;
		}
		82% {
			border-radius: 96% 4% 80% 20% / 58% 33% 67% 42%;
		}
		100% {
			border-radius: 79% 21% 39% 61% / 22% 80% 20% 78%;
		}
	}
	lite-youtube {
		width: 100%;
		border-radius: 10px;
	}

	@media (max-width: 576px) {
		lite-youtube {
			width: 100%;
		}
	}
</style>
