---
import TitleRewritter from "@/components/TitleRewritter.astro";
import BasicLayout from "@/layouts/BasicLayout.astro";
// import Map from "@/components/MapWithAllTrips.astro";
---

<BasicLayout>
	<link
		slot="custom-header-scripts"
		rel="stylesheet"
		href="/lite-youtube/lite-yt-embed.css"
	/>
	<script
		slot="custom-header-scripts"
		is:inline
		src="/lite-youtube/lite-yt-embed.js"></script>

	<main>
		<section id="portfolio">
			<h2 class="sub-title">Portfolio</h2>
			<lite-youtube videoid="kcPcTyCoMEY" playlabel="Introduction to myself"
			></lite-youtube>
			<!-- <Map/> -->
			<a href="">Discover my work!</a>
		</section>

		<section id="who-am-i">
			<div class="who-am-i">
				<h1 class="title">My name is Ines</h1>
				<TitleRewritter
					texts={[
						"Hi, I'm Ines.",
						"I am Creative.",
						"I Love Photography.",
						"I Love to Travel.",
					]}
				/>
			</div>
			<img src="/ines.jpeg" alt="Inés Cuevas Jiménez" />
		</section>
	</main>
</BasicLayout>

<style>
	.title {
		text-align: center;
		font-size: 4rem;
		margin-top: 0;
	}

	.sub-title {
		font-size: 2rem;
		text-transform: capitalize;
		margin: 0 0 1rem 0;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#portfolio {
		width: 1100px;
		max-width: 100%;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		/* this component has its own styles in other file */
		lite-youtube {
			width: 100%;
			border-radius: 10px;
		}

		a {
			background-color: var(--primary-color);
			color: var(--quinary-color);
			width: fit-content;
			padding: 0.8rem 1rem;
			border: 1px solid var(--quinary-color);
			border-radius: 5rem;
			font-size: 1.1rem;
			cursor: pointer;
			margin-top: 2rem;
			text-transform: uppercase;
			align-self: center;
			text-decoration: none;
		}
	}

	#who-am-i {
		height: 100vh;
		padding: 2rem;
		display: flex;
		align-items: center;
		gap: 2rem;

		.title {
			margin: 0;
		}

		h1 {
			font-size: 4rem;
			margin-top: 0;
		}

		.who-am-i {
			flex: 3;
			text-align: center;
		}

		img {
			border-radius: 36% 64% 70% 30% / 30% 30% 70% 70%;
			min-width: 300px;
			flex: 2;
			margin-bottom: 2rem;
		}

		.key-values-container {
			flex: 0.7;
			display: flex;
			flex-direction: column;
			padding: 2rem;
		}

		@media (max-width: 992px) {
			& {
				flex-direction: column;
				width: 100%;
				height: auto;
			}

			img {
				min-width: auto;
				width: 75%;
			}

			.who-am-i {
				flex: 2;
				text-align: center;
			}
		}
	}

	@media (max-width: 576px) {
		lite-youtube {
			width: 100%;
		}
	}
</style>
