---
import Dashboard from "@/components/dashboard/Dashboard.astro";
import TitleRewritter from "@/components/TitleRewritter.astro";
import WhyMe from "@/components/WhyMe.astro";
import BasicLayout from "@/layouts/BasicLayout.astro";
// import Map from "@/components/MapWithAllTrips.astro";
---

<BasicLayout>
	<link
		slot="custom-header-scripts"
		rel="stylesheet"
		href="/lite-youtube/lite-yt-embed.css"
	/>
	<script
		slot="custom-header-scripts"
		is:inline
		src="/lite-youtube/lite-yt-embed.js"></script>

	<main>
		<section id="who-am-i">
			<div class="who-am-i">
				<TitleRewritter
					texts={[
						"Hi, I'm Ines.",
						"I am Creative.",
						"I Love Photography.",
						"I Love to Travel.",
					]}
				/>
			</div>
			<img src="/ines.jpeg" alt="Inés Cuevas Jiménez" />
		</section>

		<section id="portfolio">
			<div class="showreel-container">
				<h2 class="title">My Showreel</h2>
				<lite-youtube videoid="kcPcTyCoMEY" playlabel="Introduction to myself"
				></lite-youtube>
				<a
					class="btn bg-base-100 w-fit border border-white text-[1.1rem] cursor-pointer uppercase self-center no-underline mt-8 px-4 py-[0.8rem] rounded-[5rem] border-solid;"
					href="/biblioteca">Discover my work!</a
				>
			</div>
		</section>

		<!-- <WhyMe /> -->

		<Dashboard />
	</main>
</BasicLayout>

<style>
	.title {
		text-align: center;
		font-size: 4rem;
		margin-top: 0;
	}

	.sub-title {
		font-size: 2rem;
		text-transform: capitalize;
		margin: 0 0 1rem 0;
	}

	@keyframes fluid {
		0% {
			border-radius: 79% 21% 39% 61% / 22% 80% 20% 78%;
		}
		16% {
			border-radius: 96% 4% 80% 20% / 58% 33% 67% 42%;
		}
		32% {
			border-radius: 56% 44% 69% 31% / 16% 80% 20% 84%;
		}
		50% {
			border-radius: 79% 21% 39% 61% / 22% 80% 20% 78%;
		}
		66% {
			border-radius: 56% 44% 69% 31% / 16% 80% 20% 84%;
		}
		82% {
			border-radius: 96% 4% 80% 20% / 58% 33% 67% 42%;
		}
		100% {
			border-radius: 79% 21% 39% 61% / 22% 80% 20% 78%;
		}
	}

	#portfolio {
		max-width: 100%;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		align-items: center;

		.showreel-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 1000px;
			max-width: 100%;

			overflow: hidden;

			/* this component has its own styles in other file */
			lite-youtube {
				width: 100%;
				border-radius: 10px;
			}

			/* a {
				background-color: var(--primary-color);
				color: var(--quinary-color);
				width: fit-content;
				padding: 0.8rem 1rem;
				border: 1px solid var(--quinary-color);
				border-radius: 5rem;
				font-size: 1.1rem;
				cursor: pointer;
				margin-top: 2rem;
				text-transform: uppercase;
				align-self: center;
				text-decoration: none;
			} */
		}
	}

	#who-am-i {
		height: 100vh;
		max-width: 100%;
		padding: 2rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		/* center */
		place-items: center;

		.title {
			margin: 0;
		}

		h1 {
			font-size: 4rem;
			margin-top: 0;
		}

		.who-am-i {
			flex: 3;
			text-align: center;
		}

		img {
			border-radius: 36% 64% 70% 30% / 30% 30% 70% 70%;
			min-width: 300px;
			width: 100%;
			max-width: 800px;
			flex: 2;
			margin-bottom: 2rem;
			animation: fluid 45s infinite linear;
		}

		@media (max-width: 992px) {
			& {
				grid-template-columns: 1fr;
				grid-template-rows: 1fr 1fr;
				width: 100%;
			}

			img {
				min-width: auto;
				width: 75%;
			}

			.who-am-i {
				flex: 2;
				text-align: center;
			}
		}
	}

	@media (max-width: 576px) {
		lite-youtube {
			width: 100%;
		}
	}
</style>
