---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import CardImage from "./latestWorks/CardImage.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col items-center p-8">
	<h1 class="title">{t("latest_works.title")}</h1>

	<div class="flex flex-col gap-6 xl:flex-row">
		<CardImage src="Indonesia" text={t("lastest_works.country_1")} alt="Little boy on the streets of Indonesia" />
		<CardImage
			src="Vietnam"
			text={t("lastest_works.country_2")}
			alt="Streets of Vietnam illuminated in the middle of the night"
		/>
		<CardImage
			src="Switzerland"
			text={t("lastest_works.country_3")}
			alt="High mountain covered by clouds in Switzerland"
		/>
	</div>
</div>
