---
import CardImage from "./latestWorks/CardImage.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col items-center p-8">
  <h1 class="title">{t("latest_works.title")}</h1>

  <div class="flex flex-col gap-6 xl:flex-row">
    <CardImage text="Indonesia" />
    <CardImage text="Vietnam" />
    <CardImage text="Switzerland" />
  </div>
</div>
