---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

import Image from "@/components/MyImage.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="light-theme flex flex-col justify-center p-8 xl:items-center">
	<h1 class="mb-8 mt-0 text-center text-4xl font-bold uppercase text-base-100/90 sm:text-6xl">
		{t("why_me.title")}
	</h1>

	<article class="md:flex md:gap-8 xl:w-2/3">
		<Image
			imagePath="/src/assets/ines_1.jpg"
			altText="Ines cuevas / inesworld / inesworld.mov stroking a cow in a field in Switzerland"
			class="aspect-square w-full rounded-md object-cover md:w-[45%]"
			widths={[256, 700, 880, 1110, 1310, 1470, 1536]}
			sizes="(min-width: 1280px) calc(30vw - 21px), (min-width: 780px) calc(45vw - 32px), calc(100vw - 70px)"
		/>

		<div class="my-8 w-full md:my-0 md:flex md:flex-col md:justify-center xl:w-1/2">
			<h2 class="mb-4 text-center text-2xl font-bold">
				{t("why_me.reason_1.title")}
			</h2>
			<p class="md:text-center">
				{t("why_me.reason_1.description")}
			</p>
		</div>
	</article>

	<article class="md:flex md:gap-8 xl:w-2/3">
		<Image
			imagePath="/src/assets/ines_2.jpg"
			altText="Ines cuevas / inesworld / inesworld.mov walking through the mountains of Switzerland"
			class="order-2 aspect-square w-full rounded-md object-cover md:w-[45%]"
			widths={[256, 700, 880, 1110, 1310, 1470, 1536]}
			sizes="(min-width: 1280px) calc(30vw - 21px), (min-width: 780px) calc(45vw - 32px), calc(100vw - 70px)"
		/>
		<div class="my-8 w-full md:order-1 md:flex md:flex-col md:justify-center xl:w-1/2">
			<h2 class="mb-4 text-center text-2xl font-bold">
				{t("why_me.reason_2.title")}
			</h2>
			<p class="md:text-center">{t("why_me.reason_2.description")}</p>
		</div>
	</article>

	<article class="md:flex md:gap-8 xl:w-2/3">
		<Image
			imagePath="/src/assets/ines_3.jpg"
			altText="Crystal lake with a boat in the middle of the mountains of Switzerland"
			class="aspect-square w-full rounded-md object-cover md:w-[45%]"
			widths={[256, 700, 880, 1110, 1310, 1470, 1536]}
			sizes="(min-width: 1280px) calc(30vw - 21px), (min-width: 780px) calc(45vw - 32px), calc(100vw - 70px)"
		/>
		<div class="my-8 w-full md:flex md:flex-col md:justify-center xl:w-1/2">
			<h2 class="mb-4 text-center text-2xl font-bold">
				{t("why_me.reason_3.title")}
			</h2>
			<p class="md:text-center">{t("why_me.reason_3.description")}</p>
		</div>
	</article>
</section>
