---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="light-theme flex flex-col justify-center p-8 xl:items-center">
	<h1 class="mb-8 mt-0 text-center text-4xl font-bold uppercase text-base-100/90 sm:text-6xl">
		{t("why_me.title")}
	</h1>

	<div class="md:flex md:gap-8 xl:w-2/3">
		<img
			class="w-full rounded-lg"
			src="https://montestravels.com/wp-content/uploads/elementor/thumbs/DSC01482-q4bj7p7pj0m2i9553q3iw0yw7vk18k8gke8imnsp2w.jpg"
			alt="image to test"
		/>
		<div class="my-8 md:my-0 md:flex md:flex-col md:justify-center">
			<h2 class="mb-4 text-center text-2xl font-bold">
				{t("why_me.reason_1.title")}
			</h2>
			<p class="md:text-center">
				{t("why_me.reason_1.description")}
			</p>
		</div>
	</div>

	<div class="md:flex md:gap-8 xl:w-2/3">
		<img
			class="my-8 w-full rounded-lg md:order-2"
			src="https://montestravels.com/wp-content/uploads/elementor/thumbs/DSC05373-1-pw112w032dbrhm20j0e1506p479605mo55p4y26faw.jpg"
			alt="image to test"
		/>
		<div class="md:order-1 md:flex md:flex-col md:justify-center">
			<h2 class="mb-4 text-center text-2xl font-bold">
				{t("why_me.reason_2.title")}
			</h2>
			<p class="md:text-center">{t("why_me.reason_2.description")}</p>
		</div>
	</div>

	<div class="md:flex md:gap-8 xl:w-2/3">
		<img
			class="my-8 w-full rounded-lg"
			src="https://montestravels.com/wp-content/uploads/elementor/thumbs/DSC08211-q4bj8vig2k7z0pfp8qdqi8amy7rjuxwdq7ld841zaw.jpg"
			alt="image to test"
		/>
		<div class="md:flex md:flex-col md:justify-center">
			<h2 class="mb-4 text-center text-2xl font-bold">
				{t("why_me.reason_3.title")}
			</h2>
			<p class="md:text-center">{t("why_me.reason_3.description")}</p>
		</div>
	</div>
</section>
