---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import RSS from "@/icons/Rss.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="footer footer-center bg-base-300 p-4 text-base-content">
	<aside>
		<span
			>{t("footer")} | <a href="/rss.xml" aria-label="Read RSS file">
				<RSS />
			</a>
		</span>
	</aside>
</footer>
