---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="footer footer-center bg-base-300 p-4 text-base-content">
	<aside>
		<p>{t("footer")}</p>
	</aside>
</footer>
