<style>
  #chartdiv {
    width: 90%;
    aspect-ratio: 16 / 9;
    border: 2px #000000 dashed;
    border-radius: 10px;
    overflow: hidden;
  }
</style>

  
<!-- Chart code -->
<script type="module">
  import "./maps/mapWithAllTrips.js";
</script>

<script
  slot="custom-header-scripts"
  src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script slot="custom-header-scripts" src="https://cdn.amcharts.com/lib/5/map.js"
></script>
<!-- <script slot="custom-header-scripts" src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script> -->
<script
  slot="custom-header-scripts"
  src="https://cdn.amcharts.com/lib/5/geodata/worldHigh.js"></script>
<!-- <script slot="custom-header-scripts" src="https://cdn.amcharts.com/lib/5/geodata/worldUltra.js"></script> -->
<script
  slot="custom-header-scripts"
  src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<div id="chartdiv"></div>
