---
import Bars from "@/icons/Bars.astro";
import Instagram from "@/icons/Instagram.astro";
import XMark from "@/icons/XMark.astro";
import Youtube from "@/icons/Youtube.astro";
---

<nav>
  <ul class="menu show-menu">
    <li class="menu-item"><a href="/">Home</a></li>
    <li class="menu-item"><a href="/about">About</a></li>
    <li class="menu-item"><a href="/blog">Blog</a></li>
    <li class="menu-item"><a href="/biblioteca">Biblioteca</a></li>
    <li class="menu-item"><a href="/contact">Contact</a></li>
    <li class="menu-item">
      <ul class="icon-list">
        <li class="item instagram">
          <a
            href="https://www.instagram.com/inesworld.mov/"
            aria-label="See my instagram account"
          >
            <Instagram class={"icon"} />
          </a>
        </li>
        <li class="item youtube">
          <a href="#" aria-label="See my youtube channel">
            <Youtube class={"icon"} />
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<button class="hamburger" aria-label="toogle navbar">
  <div class="menu-icon hide">
    <Bars />
  </div>
  <div class="close-icon">
    <XMark />
  </div>
</button>

<script>
  document.addEventListener("astro:page-load", () => {
    // get path of current page and add active class to the corresponding link
    const path = window.location.pathname;
    const links = document.querySelectorAll("nav a");

    links.forEach((link) => {
      if (link.getAttribute("href") === path) {
        link.classList.add("active");
      }
    });
  });
</script>

<script>
  document.addEventListener("astro:page-load", () => {
    const menu = document.querySelector(".menu") as HTMLUListElement;
    const hamburger = document.querySelector(".hamburger") as HTMLButtonElement;
    const closeIcon = document.querySelector(".close-icon") as HTMLElement;
    const menuIcon = document.querySelector(".menu-icon") as HTMLElement;

    function toggleMenu() {
      if (menu.classList.contains("show-menu")) {
        menu.classList.remove("show-menu");
        closeIcon.classList.toggle("hide");
        menuIcon.classList.toggle("hide");
      } else {
        menu.classList.add("show-menu");
        closeIcon.classList.toggle("hide");
        menuIcon.classList.toggle("hide");
      }
    }
    hamburger.addEventListener("click", toggleMenu);
  });
</script>

<style>
  nav {
    position: relative;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    top: 1rem;
    z-index: 1;

    @media (max-width: 576px) {
      top: 0;
    }

    > .menu {
      width: fit-content;
      height: 0;
      display: flex;
      visibility: hidden;
      gap: 1.5rem;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 15px;
      /* background-color: var(--secondary-color); */
      border-radius: 1rem;

      > .menu-item:not(:last-child):hover {
        transition: 0.5s ease;
        transform: scale(1.1);
      }

      .menu-item > a {
        text-decoration: none;
        color: var(--quinary-color);
      }

      .menu-item > a.active {
        border-bottom: 1.5px solid var(--quinary-color);
      }
    }
  }

  .hamburger {
    background-color: var(--primary-color);
    position: fixed;
    z-index: 2;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    cursor: pointer;
    display: none;

    width: 48px;
    height: 48px;
    border-radius: 25%;
    display: none;
    justify-content: center;
    align-items: center;

    div {
      height: 24px;
    }
  }

  .hide {
    display: none;
  }

  nav > .show-menu {
    transform: translateY(0);
    height: fit-content;
    visibility: visible;
  }

  @media (max-width: 576px) {
    nav {
      margin-top: 0;

      > .menu {
        width: 100%;
        border-radius: 0;
        flex-direction: column;

        > .menu-item {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }

    .menu {
      background-color: var(--secondary-color);
    }

    .hamburger {
      display: flex;
    }
  }
</style>

<style is:global>
  ul.icon-list {
    padding: 0rem;
    display: flex;
    gap: 5px;
    list-style-type: none;
  }
  .item {
    .icon {
      font-size: 1.1rem;
      color: #f0f9fe;
      fill: #f0f9fe;
    }

    &:hover {
      transform: scale(1.1);
    }

    a {
      text-decoration: none;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
    }
  }
</style>
