<meta name="google-site-verification" content="5GRhhm_YYdtAFIMnUytnZRT8Dwghpw9EKt428qz0IhY" />

<meta charset="utf-8" />
<link rel="sitemap" href="/sitemap-index.xml" />

<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<title>Inesworld</title>

<meta name="description" content="Inés Cuevas Jiménez portfolio. Come to discover the world through my photos." />
<meta
	name="keywords"
	content="Inés Cuevas Jiménez, inesworld, ines world, portfolio, photography, travel, trips, world"
/>
<meta name="author" content="Inés Cuevas Jiménez, inesworld, ines world" />
<meta name="robots" content="index, follow" />

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="Inesworld | Ines Cuevas Jiménez" />
<meta
	property="og:description"
	content="Inés Cuevas Jiménez portfolio. Come to discover the world through my photos."
/>
<meta property="og:url" content="https://inesworld.vercel.app/" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://inesworld.vercel.app/ines.webp" />
<meta property="og:site_name" content="Inesworld Portfolio" />
<meta property="og:locale" content="en_EN" />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Inesworld | Ines Cuevas Jiménez" />
<meta
	name="twitter:description"
	content="Inés Cuevas Jiménez portfolio. Come to discover the world through my photos."
/>
<meta name="twitter:image" content="https://inesworld.vercel.app/ines.webp" />
<meta name="twitter:site" content="@agnesworldd" />

<!-- favicons generated with https://realfavicongenerator.net/ -->

<!-- Favicons for light mode -->
<link rel="icon" type="image/svg+xml" href="/favicon-light.svg" media="(prefers-color-scheme: light)" />
<link rel="icon" type="image/x-icon" href="/favicon-light.ico" media="(prefers-color-scheme: light)" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-light-32x32.png" media="(prefers-color-scheme: light)" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-light-16x16.png" media="(prefers-color-scheme: light)" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-light.png" media="(prefers-color-scheme: light)" />

<!-- Favicons for dark mode -->
<link rel="icon" type="image/svg+xml" href="/favicon-dark.svg" media="(prefers-color-scheme: dark)" />
<link rel="icon" type="image/x-icon" href="/favicon-dark.ico" media="(prefers-color-scheme: dark)" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-dark-32x32.png" media="(prefers-color-scheme: dark)" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-dark-16x16.png" media="(prefers-color-scheme: dark)" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-dark.png" media="(prefers-color-scheme: dark)" />

<!-- Web manifest -->
<link rel="manifest" href="/site.webmanifest" />

<!-- Safari pinned tab -->
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />

<!-- Microsoft application tile -->
<meta name="msapplication-TileColor" content="#da532c" />

<!-- Set color for mobile bars -->
<meta name="theme-color" content="#000000" />

<!-- Browserconfig (default) -->
<script>
	const darkScheme = window.matchMedia("(prefers-color-scheme: dark)").matches;
	const browserConfigLink = document.createElement("link");
	browserConfigLink.rel = "browserconfig";
	browserConfigLink.href = darkScheme ? "/browserconfig-dark.xml" : "/browserconfig-light.xml";
	document.head.appendChild(browserConfigLink);
</script>
