---
import Diff from "./Diff.astro";
---

<section class="w-full p-8 flex flex-col items-center">
  <h1 class="text-center text-6xl uppercase mt-0 mb-8 font-bold">
    See my ✨MAGIC✨
  </h1>
  <Diff />
</section>
