/* Set global variables */
:root {
  --header-height: 48px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #FBFBFB;
}

body {
  margin: 0;
  padding: 0;
}
