---
import AboutSubSection from "@/components/AboutSubSection.astro";
import BasicLayout from "@/layouts/BasicLayout.astro";
import { changeLanguage } from "i18next";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

changeLanguage("es");

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BasicLayout>
	<h1 class="title">About Me</h1>

	<AboutSubSection
		title={t("about_section_1.title")}
		src="/src/assets/hero_image.webp"
		alt="Selfie of Inés Cuevas Jiménez in the desert"
		text={[
			t("about_section_1.text_1"),
			t("about_section_1.text_2"),
			t("about_section_1.text_3"),
			t("about_section_1.text_4"),
			t("about_section_1.text_5"),
			t("about_section_1.text_6"),
		]}
	/>

	<AboutSubSection
		title={t("about_section_2.title")}
		src="/src/assets/hero_image.webp"
		alt="Selfie of Inés Cuevas Jiménez in the desert"
		direction="right"
		text={[
			t("about_section_2.text_1"),
			t("about_section_2.text_2"),
			t("about_section_2.text_3"),
			t("about_section_2.text_4"),
			t("about_section_2.text_5"),
			t("about_section_2.text_6"),
			t("about_section_2.text_7"),
			t("about_section_2.text_8"),
		]}
	/>

	<AboutSubSection
		title={t("about_section_3.title")}
		src="/src/assets/hero_image.webp"
		alt="Selfie of Inés Cuevas Jiménez in the desert"
		text={[
			t("about_section_3.text_1"),
			t("about_section_3.text_2"),
			t("about_section_3.text_3"),
			t("about_section_3.text_4"),
			t("about_section_3.text_5"),
			t("about_section_3.text_6"),
			t("about_section_3.text_7"),
			t("about_section_3.text_8"),
			t("about_section_3.text_9"),
		]}
	/>
</BasicLayout>
