---
import { changeLanguage } from "i18next";
import BasicLayout from "@/layouts/BasicLayout.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

changeLanguage("es");

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BasicLayout>
  <div class="contact-container flex flex-col items-center justify-center p-4">
    <h1 class="title">{t("contact.title")}</h1>
    <p>{t("contact.subtitle")}</p>
    <form class="pt-16 flex flex-col gap-4 w-full max-w-[400px]">
      <div class="form-field">
        <label class="text-xl" for="from_name">{t("contact.label.name")}</label>
        <input type="text" id="from_name" name="from_name" class="input input-bordered w-full" required />
      </div>
      <div class="form-field">
        <label class="text-xl" for="to_email">{t("contact.label.email")}</label>
        <input type="email" id="to_email" name="to_email" class="input input-bordered w-full" required />
      </div>
      <div class="form-field">
        <label class="text-xl" for="message">{t("contact.label.message")}</label>
        <textarea class="textarea textarea-bordered" id="message" name="message" required></textarea>
      </div>
      <button class="btn" type="submit">{t("contact.button")}</button>
    </form>
  </div>
</BasicLayout>

<script>
  import { init, send } from "@emailjs/browser";
  import Swal from "sweetalert2";

  const runScript = () => {
    const form = document.querySelector("form") as HTMLFormElement;
    if (!form) return;

    form.addEventListener("submit", async (event) => {
      event.preventDefault();
      const formData = new FormData(form);

      /* 
        In the web template:
        - From name: Es el nombre de la persona que envía el mensaje, aparecerá como nombre de la persona que envía el correo, EN LA PREVIEW DEL CORREO

        from email: el email del servicio usado. en este caso el mio de google
        Con reply to podemos enviar otro correo al que mandó el formulario
      */

      // to_email will be inserted in the email body linked to {{to_email}}
      // from_name will be inserted in the email body linked to {{from_name}}
      // message will be inserted in the email body linked to {{message}}
      const data = {
        to_email: formData.get("to_email"),
        from_name: formData.get("from_name"),
        message: formData.get("message"),
      };

      init({
        publicKey: "Zysq_8MGlqpjcijD4",
        limitRate: {
          // Allow 1 request per 10s
          throttle: 10000,
        },
      });

      Swal.fire({
        title: "Sending email...",
        didOpen: () => {
          Swal.showLoading();
        },
      });

      send("service_3r6y8dq", "template_d3rlfnk", data).then(
        (response) => {
          Swal.close();
          Swal.fire({
            title: "Email sent! I will contact you soon!",
            icon: "success",
          });
        },
        (error) => {
          Swal.close();
          Swal.fire({
            title: "Error sending email",
            icon: "error",
            didOpen: () => {
              setTimeout(() => {
                Swal.close();
              }, 2000);
            },
          });
        },
      );
    });
  };

  document.addEventListener("astro:page-load", runScript);
</script>

<style>
  .form-field {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
</style>
