---
import BasicLayout from '../../layouts/BasicLayout.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
---

<BasicLayout>
		<h1>spanish language</h1>
    <a href={getRelativeLocaleUrl('en', '')}>english</a>
</BasicLayout>
