---
import MyImage from "@/components/MyImage.astro";
import LatestWorks from "@/components/home/LatestWorks.astro";
import TitleRewritter from "@/components/home/TitleRewritter.astro";
import WhyMe from "@/components/home/WhyMe.astro";
import Dashboard from "@/components/home/dashboard/SkillsContainer.astro";
import DiffContainer from "@/components/home/edition/DiffContainer.astro";
import Process from "@/components/home/process/Process.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BasicLayout from "@/layouts/BasicLayout.astro";
import { changeLanguage } from "i18next";

changeLanguage("es");

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BasicLayout description={t("index.description")}>
	<link slot="custom-header-scripts" rel="stylesheet" href="/lite-youtube/lite-yt-embed.min.css" />
	<script slot="custom-header-scripts" is:inline src="/lite-youtube/lite-yt-embed.min.js"></script>

	<div>
		<section
			id="who-am-i"
			class="flex max-w-full flex-col items-center p-8 md:flex-row md:justify-around gap-8"
		>
			<div class="flex flex-col w-full items-center justify-center md:w-1/2">
				<h1 class="title text-5xl sm:text-6xl lg:text-8xl">{t("index.title")}</h1>
				<div class="who-am-i flex w-full items-center justify-center ">
					<TitleRewritter
						texts={[
							// t("typewriter.text_1"),
							t("typewriter.text_2"),
							t("typewriter.text_3"),
							t("typewriter.text_4"),
							t("typewriter.text_5"),
							t("typewriter.text_6"),
						]}
					/>
				</div>
			</div>
			<MyImage
				class="rounded-[36%_64%_70%_30%_/_30%_30%_70%_70%]; mb-8 w-full min-w-[300px] max-w-[800px] flex-[2] animate-[fluid_45s_infinite_linear]"
				imagePath="/src/assets/hero_image.webp"
				loading="eager"
				altText="Selfie of Inés Cuevas Jiménez / inesworld / inesworld.mov in the desert"
				widths={[300, 600, 800, 1090, 1310, 1500, 1600]}
				sizes="(min-width: 1620px) 800px, (min-width: 1100px) calc(92.8vw - 685px), (min-width: 780px) calc(5.33vw + 258px), (min-width: 400px) calc(100vw - 70px), calc(12.5vw + 263px)"
			/>
		</section>

		<section class="fade-up flex max-w-full grow flex-col items-center justify-center p-8">
			<div class="showreel-container flex w-full max-w-full flex-col items-center overflow-hidden lg:w-[1000px]">
				<h2 class="title">{t("showreel.title")}</h2>
				<lite-youtube videoid="U_4y5UKOOTI" image-bg="/trips/indonesia/1.webp" playlabel="My showreel"></lite-youtube>
				<a
					class="btn mt-8 block cursor-pointer self-center rounded-[5rem] p-4 text-[1.1rem] uppercase no-underline"
					href="/portfolio">{t("showreel.button")}</a
				>
			</div>
		</section>

		<WhyMe />
		<Dashboard />
		<DiffContainer />
		<Process />
		<LatestWorks />
	</div>
</BasicLayout>

<script>
	import { createIntersectionObserver, observeAll } from "@/helpers/IntersectionObserver.js";

	const runAnimation = () => {
		const fadeUpObserver = createIntersectionObserver();
		observeAll(fadeUpObserver, ".fade-up");
	};

	document.addEventListener("astro:page-load", runAnimation);
</script>

<style>
	@keyframes fluid {
		0% {
			border-radius: 79% 21% 39% 61% / 22% 80% 20% 78%;
		}
		16% {
			border-radius: 96% 4% 80% 20% / 58% 33% 67% 42%;
		}
		32% {
			border-radius: 56% 44% 69% 31% / 16% 80% 20% 84%;
		}
		50% {
			border-radius: 79% 21% 39% 61% / 22% 80% 20% 78%;
		}
		66% {
			border-radius: 56% 44% 69% 31% / 16% 80% 20% 84%;
		}
		82% {
			border-radius: 96% 4% 80% 20% / 58% 33% 67% 42%;
		}
		100% {
			border-radius: 79% 21% 39% 61% / 22% 80% 20% 78%;
		}
	}
	lite-youtube {
		width: 100%;
		border-radius: 10px;
	}

	@media (max-width: 576px) {
		lite-youtube {
			width: 100%;
		}
	}
</style>
