---
import { ViewTransitions } from "astro:transitions";
import "@/global.css";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Inés Cuevas Jiménez portfolio. Come to discover the world through my photos."
		/>

		<slot name="custom-header-scripts" />
		<slot name="custom-header-styles" />
		<title>Inesworld</title>
		<ViewTransitions />
	</head>
	<body>
		<Navbar />
		<div class="page-container">
			<slot />
		</div>

		<Footer />

		<style>
			body,
			html {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
			}

			.page-container {
				flex-grow: 1;
			}

			p {
				margin: 0rem;
				padding: 0.3rem;
			}
		</style>
	</body>
</html>
