---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import SEO from "@/components/SEO.astro";
import "@/global.css";
import "@fontsource/roboto";
import { HeadHrefLangs } from "astro-i18next/components";
import { ViewTransitions } from "astro:transitions";
import i18next from "i18next";
---

<html lang={i18next.language}>
	<head>
		<SEO />
		<HeadHrefLangs />

		<slot name="custom-header-scripts" />
		<slot name="custom-header-styles" />
		<ViewTransitions />
	</head>
	<body>
		<Navbar />
		<main class="page-container">
			<slot />
		</main>

		<Footer />

		<style>
			body,
			html {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
			}

			.page-container {
				flex-grow: 1;
			}

			p {
				margin: 0rem;
				padding: 0.3rem;
			}
		</style>
		<style is:global>
			body {
				font-family: "Roboto", sans-serif;
			}
		</style>
	</body>
</html>
